html,body{
    left:0;
    right: 0;
    top:0;
    height: 100%;
    overflow-x: hidden;
}

.index{
    overflow-y: hidden;
}

.icon{
    margin-left: 20px;
    height: 100px;
    width: 100px;
}

.navBar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.index{
    text-align: center;
    top: 0;
}

.auto{
    padding-left: 30px;

}

.navItem{
    border-right: #b7b7b7 1px solid;
    font-size: 18px;
}

.title{
    font-size: 24px;
    font-style: italic;
}

.titleBlock{
    margin-left: 15px;
}

.last{
    right: 0;
    transform: translateX(80px);
}
.noBorder{
    border: none;
}
.all{
    width: 100%;
}
nav{
    width: 100%;
}
.content{
    width: 100%;
    height: 100%;
    background-color: #e2ddff;
}
.leftBar{
    position:absolute;
    width: 100px;
    left: 0;
    background-color: #b7b7b7;
    border-right: black 2px solid;
    z-index: 5;
    height: 100%;

}
.rightBar{
    position: absolute;
    width: 100px;
    right: 0;
    background-color: #b7b7b7;
    border-left: black 2px solid;
    z-index: 5;
    height: 100%;
}

.leftBar.gg, .rightBar.gg{
    height: 85%;
    overflow-y: hidden;
}

.dce{
    left:0;
    right:0;
    min-height: 100%;
    margin-top: 116px;
    margin-right: 85px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    clear:both;
    background-color: #e2ddff;
}

.dceIndex{
    left:0;
    right:0;
    min-height: 100%;
    margin-top: 20px;
    margin-right: 85px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    clear:both;
    background-color: #e2ddff;
}

.opening{
    margin-left: 20px;
    width: 45%;
    bottom: 0;
}

.openText{
    font-size: 18px;
    font-family: Calibri;
    line-height: 30px;
}

.left{
    float: left;
    width: 40%;
    height: 750px;
}


.right{
    float: left;
    width: 40%;
    padding-left: 20px ;
    height: 300px;
}

form{
    margin-top: 116px;
}

.skylineImg{
    z-index: 0;
    height: 300px;
    width: 2000px;

}
.skylineImgContainer{
    background-color: #e2ddff ;
    z-index: 1;
}

.winter{
    height: 300px;
    width: 600px;
    float: right;
    border: black solid 3px;
    border-radius: 10px;
}
.openingImage{
    position:relative;
    float: right;
    align-items: right;
    justify-content: right;
    margin-left: 50%;
    margin-right: 80px;
    transform: translateY(-275px);
}
.sports{
    margin-top: 70px;
}

.column{
    float: left;
    width: 45%;
    margin-left: 50px;
    line-height: 35px;
}
.row{
    margin-left:20px;
}
.row:after{
    content:"";
    display: table;
    clear: both;
}
.redsox{
    top: 0;
    margin-bottom: 170px;
    height: 200px;
    width: 200px;
}
.celtics{
    height: 200px;
    width: 200px;
    margin-top: 80px;
    margin-bottom:150px;
}
.patriots{
    height: 150px;
    width: 300px;
    margin-top:60px;
}
.bruins{
    height: 150px;
    width: 150px;
    margin-bottom: 120px;

}
.imgs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sportsIntro{
    margin-left:120px;
    margin-right:120px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-bottom: black 2px solid;
    border-radius: 20px;
}

.subsection{
    text-align: center;
    margin-top: 15px;
    border-bottom: #b7b7b7 solid 1px;
}

.stateHouse{
    margin-top: 40px;
    height: 250px;
    width: 450px;
    border: black solid 3px;
    border-radius: 20px ;
}

.stateHouse.harbor{
    margin-top: 40px;
}

.freedomTrail{
    height: 150px;
    width: 300px;
    border: black solid 2px;
    border-radius: 20px;
    margin-top: 25px;
}

.spacing{
    margin-top: 70px;
}

.comments{
    float: left;
    margin-left: 20px;
    border: black 2px solid;
    border-radius: 5px;
    list-style-type: none;
    width: 300px;
    margin-top: 5px;
}

.comment-title{
    margin-left: 20px;
}
.comment-sub{
    margin-left: 20px;
}

.comment-section{
    list-style-type: none;
    width: 300px;
}

.name{
    font-size: 24px;
    font-style: italic;
    border-bottom: black 1px solid;
}

.comment{
    font-size: 18px;
    margin: 10px;
}
.com-form{
    margin-left: 380px;
    margin-top: 10px;
}

.volset{
    background-color: white;
    border-radius: 10px;
}

#slide{
    opacity: 1;
    transition: opacity 1s;
}

#slide.fadeOut{
    opacity: 0;
}

.grade{
    height: 500px;
    width: 700px;
}

.foot{
    margin-bottom: 30px;
    margin-left: 48%;
}

@media {

}

